

@{
    ViewData["Title"] = "Customers";
}

<div class="">
    <h2 class="text-primary">@ViewData["Title"]</h2>    
</div>
<hr />

<div class="">
        <table id="CustomersTable" class="table table-striped table-hover align-middle table-sm caption-top nowrap">
            <caption>List of Customers</caption>
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Gender</th>
                <th scope="col">Birth Date</th>
                <th scope="col">Balance</th>
                <th scope="col">Image</th>
                <th scope="col">City</th>
                <th scope="col">ZipCode</th>
                <th scope="col">Address</th>
                <th scope="col">Active</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
       @*  <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>
        </tbody> *@
    </table>
</div>

@section Scripts
{
    <script src="~/js/CustomersDataTable.js"></script>
}

